{% extends 'base_auth.html.twig' %}

{% block title %}Log In{% endblock %}
{% block heading %}Log In | Sign Up{% endblock %}
{% block action_link_path %}{{ path('register') }}{% endblock %}
{% block action_link_text %}Sign up{% endblock %}

{% block content %}
    <h2>Log In</h2>

    {# Wyświetlanie błędów uwierzytelniania #}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('login') }}" method="POST">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="_username" value="{{ last_username }}" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" required>
        </div>
        <button type="submit" class="login-button">Log in</button>
    </form>
    <div class="extra-links">
        <a href="/forgot-password">Forgot Password?</a><br>
        <a href="{{ path('register') }}">Don't Have an account? Signup Now.</a>
    </div>
{% endblock %}
